/* chart */
.ct-line {
  stroke-width: 2px;
}
.ct-point {
  stroke-width: 7px;
}
.ct-series-a .ct-line {
  stroke-width: 1px;
}
.ct-series-b .ct-line {
  stroke: #2196F3;
}
.ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #1976D2;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
  fill: #2196F3;
}
line.ct-point:hover {
  opacity: 0.75;
  cursor: pointer;
}
.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
  stroke: #f05b4f;
} 

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
  stroke: #2196F3;
}
.ct-area.ct-threshold-above {
  fill: #f05b4f;
}
.ct-area.ct-threshold-below {
  stroke: #2196F3;
}
.ct-series-threshold .ct-point,
.ct-series-threshold .ct-point:hover {
  opacity: 0;
  cursor: auto;
}
.ct-threshold-caption-label {
  font-size: 12px;
}
.ct-threshold-caption-value {
  font-size: 12px;
}
.admin-menu .ct-threshold-caption {
  fill: red;
}

/* chartist tooltip */
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  color: #032c56;
  font-family: Oxygen,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 5;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip:before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    z-index:1;
    background: #fff;
    border: 0;
    border-color:0;
    position: absolute;
    left: 50%;
    top: auto;
    bottom: -0.5rem;
    margin: 0;
  }
  .chartist-tooltip.tooltip-show {
    opacity: 1;
  }

/* chart data detail list */
.data-detail-list {
  margin: 0;
  text-align: left;
  list-style: none;
}
.data-detail-list .data-time + .data-value:before {
  content: " - ";
}
.data-detail-list .is-exceed .data-value {
  color: #ff0000;
}

/* chart item */
.chart-item .chart-btns {
  text-align: right;
}
.chart-item .chart-btn {
  display: inline-block;
  margin-right: 6px;
  padding: 2px 8px;
  font-size: 14px;
  background: #616161;
  color: #fff;
  text-decoration: none;
}
.chart-item .chart-btn:last-child {
  margin-right: 0;
}
.chart-item .chart-report-btn {
  background: #D32F2F;
}
.chart-item .chart-share-btn {
  background: #095ddb;
}

/* chart: 1day */
.chart[data-chart-type="1day"] .chartist-tooltip-value {
  display: none;
}

/* tabs */
.tabs-container {
  position: relative;
}
.tabs-control {
  margin-bottom: 10px;
}
.tabs-control .tab {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}
.tabs-control .tab:last-child {
  margin-right: 0;
  padding-right: 0;
}

/* chart tabs */
.chart-tabs {
  padding: 10px;
}
.chart-tabs .tabs-control {
  position: absolute;
  right: 10px;
}
.chart-tabs .tab {
  line-height: 1;
  border-right: 1px solid #616161;
}
.chart-tabs .tab:last-child {
  border-right: 0;
}
.chart-tabs .tab a {
  color: #616161;
}
.chart-tabs .tab.active a {
  color: #E34B39;
}

/* jquery modal */
.jquery-modal {
  z-index: 10000;
}
.jquery-modal .modal {
  z-index: 10001;
}

/* chart share modal */
#chart-share-modal {
  width: 85%;
  max-width: 600px;
}
#chart-share-modal h5 {
  text-align: center;
}
#chart-share-modal .facility-name,
#chart-share-modal .chart-name {
  margin-right: 160px;
}
#chart-share-modal .facility-name {}
#chart-share-modal .chart-name {}
#chart-share-modal .share-btns-top {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
#chart-share-modal .share-btns-bottom {
  text-align: center;
  margin: 20px 0 10px 0;
}
#chart-share-modal .btn {
  color: #fff;
  padding: 4px 8px;
  margin: 3px 5px;
}
#chart-share-modal .fb-share-btn {
  background-color: #39579A;
}
#chart-share-modal .report-btn {
  background-color: #E34B39;
}

#charts .section-report{
  background-color: #ffeae2;
}
#charts .section-report-des {
  padding: 10px;
}
#charts .section-normal-des {
  padding: 10px;
}
@media all and (max-width:959px) {
  .ct-labels foreignObject:nth-child(even) {
    display: none;
  }
}

